            <div id="footer-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 mb-2">
                            {$site_name} {$Think.lang.index.des_des}
                            </div>
                            <div class="col-lg-4"></div>
                            <div class="col-lg-2 d-flex justify-content-center align-items-center">
                                <a href="/user/reg" class="main-button">
                                    {$Think.lang.index.start_use}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
{include file="common/copyright"/}
{include file="common/foot"/}
