{include file="index/header"/}
                <div class="container">
                    <div class="splash">
                        <h1 class="splash-head">{$site_name}</h1>
                        <p class="splash-subhead">{$site_des}</p>
                        <p>
                            <a href="/user/reg" class="main-button">
                                {$Think.lang.index.reg}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div id="intro">
                <div class="container">
                    <div class="text-center">
                        <h1>{$site_name} {$Think.lang.index.des}</h1>
                        <br><br>
                        <div class="container-lg">
                            <div class="row">
                                <div class="col-lg">
                                    <i class="fas fa-check mb-3"></i>
                                    <h3>{$Think.lang.index.des_title_1}</h3>
                                    <p>{$Think.lang.index.des_des_1}</p>
                                </div>
                                <div class="col-lg">
                                    <i class="fas fa-bolt mb-3"></i>
                                    <h3>{$Think.lang.index.des_title_2}</h3>
                                    <p>{$Think.lang.index.des_des_2}</p>
                                </div>
                                <div class="col-lg">
                                    <i class="fas fa-thumbs-up mb-3" aria-hidden="true"></i>
                                    <h3>{$Think.lang.index.des_title_3}</h3>
                                    <p>{$Think.lang.index.des_des_3}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
{include file="index/footer"/}
