        <!-- 第五步 -->
        <div class="show_box" id="five">
            <div class="nav_top cerfix">
                <h4>{$Think.lang.install.title}<span class="edition"></span></h4>
            </div>
            <ul class="buzou">
                <li><b>1</b>{$Think.lang.install.buzhou_1}</li>
                <li><i></i></li>
                <li><b class="active">2</b>{$Think.lang.install.buzhou_2}</li>
                <li><i></i></li>
                <li><b>3</b>{$Think.lang.install.buzhou_3}</li>
            </ul>
            <div class="text_content" style="padding: 40px 30px 0 30px;">
                <div class="text_contentbg">
                    <ul class="list" id='stepList'>
                        <!-- <li><img src="/public/install/images/dui.png" alt=""><span>1.开始安装!</span></li>
                        <li><img src="/public/install/static/images/dui.png" alt=""><span>2.写入数据库配置！</span></li>
                        <li><img src="/public/install/images/dui.png" alt=""><span>3.写入数据！</span></li>
                        <li><img src="/public/install/images/dui.png" alt=""><span>4.写入钩子！</span></li>
                        <li><img src="/public/install/images/dui.png" alt=""><span>5.写入事件！</span></li>
                        <li><img src="/public/install/images/dui.png" alt=""><span>6.完成步骤检测与锁定！</span></li> -->
                    </ul>
                </div>
                <div class="jindutiao">
                    <div class="jd_lable">{$Think.lang.install.info}</div>
                    <div class="progress">
                        <span class="blue" id="progress" style="width: 0%;"><span></span></span>
                    </div>
                </div>
            </div>
        </div>
