        <!-- 第四步 -->
        <div class="show_box" id="four">
            <div class="nav_top cerfix">
                <h4>{$Think.lang.install.title}<span class="edition"></span></h4>
            </div>
            <ul class="buzou">
                <li><b>1</b>{$Think.lang.install.buzhou_1}</li>
                <li><i></i></li>
                <li><b class="active">2</b>{$Think.lang.install.buzhou_2}</li>
                <li><i></i></li>
                <li><b>3</b>{$Think.lang.install.buzhou_3}</li>
            </ul>
            <div class="input_content">
                <div class="input_title"><span><img src="/public/install/images/icon1.png" style="margin-right: 8px;" alt="">{$Think.lang.install.site_info}</span></div>
                <div class="text_row flex">
                    <div class="label">{$Think.lang.install.site_name}: </div>
                    <input type="text" placeholder="{$Think.lang.install.site_name_des}" class="inputList">
                </div>
                <div class="text_row flex">
                    <div class="label">{$Think.lang.install.site_domain}:</div>
                    <input type="text" placeholder="{$Think.lang.install.site_domain_des}" value="http(s)://" class="get-wzym inputList">
                </div>
                <div class="input_title" style="margin-top: 30px;"><span><img src="/public/install/images/icon2.png" style="margin-right: 8px;">{$Think.lang.install.admin_info}</span></div>
                <div class="text_row flex">
                    <div class="label">{$Think.lang.install.admin_user}:</div>
                    <input id="glyzh" type="text" placeholder="{$Think.lang.install.admin_user_des}" value="admin" class="inputList">
                </div>
                <div class="text_row flex">
                    <div class="label">{$Think.lang.install.admin_password}:</div>
                    <div class="dwinpt">
                        <input type="text" placeholder="{$Think.lang.install.admin_password_des}" class="password inputList" id="pwd-rand">
                        <img src="/public/install/images/rand-icon.png" class="rand-pwd-btn" style="top: 6px;right:-30px;">
                        <img src="/public/install/images/eye.png" class="showBtn">
                    </div>
                </div>
                <div class="text_row flex">
                    <div class="label">{$Think.lang.install.admin_password2}:</div>
                    <div class="dwinpt">
                        <input type="password" placeholder="{$Think.lang.install.admin_password2_des}" class="password inputList">
                        <img src="/public/install/images/eye.png" class="showBtn">
                    </div>
                </div>
                <div class="text_row flex">
                    <div class="label">Email: </div>
                    <input type="email" placeholder="{$Think.lang.install.admin_email_des}" class="inputList">
                    <!-- <select name="" id="houzuiemail" class="youjian">
                    <option>@gmail.com </option>
                    <option>@qq.com </option>
                    <option>@foxmail.com</option>
                    <option>@163.com</option>
                    <option>@sina.com</option>
                    <option>@sina.cn</option>
                    <option>@yahoo.com</option>
                    <option>@126.com</option>
                    <option>@139.com</option>
                    <option>@sohu.com</option>
                    <option>@qmail.com</option>
                    <option>@hotmail.com</option>
                    </select> -->
                </div>
                <div class="text_row" style="padding-right: 0;">
                    <div class="errts cerfix" id="tipsInfo"><img style="margin-right: 8px;" src="/public/install/images/err.png"><span id="tipsInfoText">{$Think.lang.install.db_error}</span></div>
                </div>
            </div>
            <div class="btnbox">
                <button  style="color: #3699FF;" class="lastStep">{$Think.lang.install.laststep}</button>
                <button style="color: white;background-color:#3699FF;" class="nextStep">{$Think.lang.install.nextstep}</button>
            </div>
        </div>
