    <body>
        <!-- 第一步 -->
        <div class="show_box" id="one">
            <div class="nav_top cerfix">
                <h4>{$Think.lang.install.title}<span class="edition"></span></h4>
            </div>
            <div class="text_content">
                <div class="text_contentbg">
                    <h3>{$Think.lang.install.agree}</h3>
                    {$Think.lang.install.agree_des_1}
                    <br>
                    {$Think.lang.install.agree_des_2}
                    <br>
                    {$Think.lang.install.agree_des_3}
                    <br>
                    {$Think.lang.install.agree_des_4}
                    <br>
                    <h3>{$Think.lang.install.disclaimers}</h3>
                    1. {$Think.lang.install.disclaimers_des_1}<br>
                    2. {$Think.lang.install.disclaimers_des_2}<br>
                    <br>
                </div>
            </div>
            <div class="btnbox">
                <button style="color: #3699FF;">{$Think.lang.install.button_notallow}</button>
                <button style="color: white;background-color:#3699FF;" class="nextStep">{$Think.lang.install.button_allow}</button>
            </div>
        </div>
