        <!-- 第六步 -->
        <div class="show_box" id="six">
            <div class="nav_top cerfix">
                <h4>{$Think.lang.install.title}<span class="edition"></span></h4>
            </div>
            <ul class="buzou">
                <li><b>1</b>{$Think.lang.install.buzhou_1}</li>
                <li><i></i></li>
                <li><b>2</b>{$Think.lang.install.buzhou_2}</li>
                <li><i></i></li>
                <li><b class="active">3</b>{$Think.lang.install.buzhou_3}</li>
            </ul>
            <div class="info_content">
                <h3>{$Think.lang.install.success}</h3>
                <div class="info">
                    <div class="info_textrow">
                        <div class="lable">{$Think.lang.install.admin_site}</div>
                        <input type="text" class="loginInput" value="/admin" readonly>
                    </div>
                    <div class="info_textrow">
                        <div class="lable">{$Think.lang.install.admin_user}</div>
                        <input type="text" class="loginInput" readonly>
                    </div>
                    <div class="info_textrow">
                        <div class="lable">{$Think.lang.install.admin_password}</div>
                        <input type="text" class="loginInput" readonly>
                    </div>
                </div>
                <div class="btnbox" style="margin-top: 80px;">
                    <a href="/"><button>{$Think.lang.install.index}</button></a>
                    <a href="/admin"><button style="color: white;background-color:#3699FF;">{$Think.lang.install.admin}</button></a>
                </div>
      </div>
      
    </div>
