        <!-- 第二步 -->
        <div class="show_box" id="two">
            <div class="nav_top cerfix">
                <h4>{$Think.lang.install.title}<span class="edition"></span></h4>
            </div>
            <ul class="buzou">
                <li><b class="active">1</b>{$Think.lang.install.buzhou_1}</li>
                <li><i></i></li>
                <li><b>2</b>{$Think.lang.install.buzhou_2}</li>
                <li><i></i></li>
                <li><b>3</b>{$Think.lang.install.buzhou_3}</li>
            </ul>
            <div class="table">
                <ul class="table_content" id="envs">
                    <!-- <li class="table_title"><span>环境检测</span><span>当前状态</span></li> -->
                </ul>
                <ul class="table_content" id="modules">
                    <!-- <li class="table_title"><span>模块检测</span><span></span></li> -->
                </ul>
                <ul class="table_content" id="folders">
                    <!-- <li class="table_title"><span   style="width: 50%;">目录、文件权限检查</span><span style="padding-right: 40px;">写入</span><span style="padding-right: 15px;">读取</span></li> -->
                </ul>
            </div>
            <div class="btnbox">
                <button style="color: white;background-color: #1BC5BD;" class="lastStep">{$Think.lang.install.again}</button>
            </div>
            <ul class="table_content">
                    <li class="table_title"><span>Setting</span><span><img src="/public/install/images/dui.png"></span></li>
                </ul>
            <div class="btnbox">
                <button style="background-color:#3699FF;color:white;" class="nextStep jc-button">{$Think.lang.install.nextstep}</button>
            </div>
        </div>
