{include file="common/head"/}
        <title>{$Think.lang.reg.index} - {$site_name}</title>
    </head>
    <body class="login-page" style="min-height: 474.390625px;">
        <div class="login-box" style="">
            <div class="login-logo">
                <a href="/">{$site_name}</a>
            </div>
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">{$Think.lang.reg.close}</p>
                    <!--
                    <p class="login-box-msg">{$Think.lang.welcome} {$site_name}! </p>
                    -->
                    <!--
                    <main>
                        <form>
                            <div class="css-hrpb34">
                                <div role="combobox" aria-haspopup="listbox" aria-owns="react-autowhatever-1" aria-expanded="false" class="mb-3">
                                    <div class="input-group">
                                        <input class="form-control" type="email" autocomplete="off" aria-autocomplete="list" aria-controls="react-autowhatever-1" required="" placeholder="Email" value="">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <i class="fas fa-envelope"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="react-autowhatever-1" role="listbox" class="dropdown"></div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" required="" minlength="8" maxlength="32" class="form-control" placeholder="{$Think.lang.reg.password}" autocomplete="new-password" value="">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" required="" minlength="8" maxlength="32" class="form-control" placeholder="{$Think.lang.reg.password2}" autocomplete="new-password" value="">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <i class="fas fa-sign-in-alt"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3" title="{$Think.lang.reg.usernametip}">
                                <input type="text" required="" class="form-control" placeholder="{$Think.lang.reg.username}" value="">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <i class="fas fa-user"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <a href="/user/login">{$Think.lang.reg.login}</a>
                                <button class="btn btn-primary" type="submit">{$Think.lang.reg.submit}</button>
                            </div>
                        </form>
                    </main>
                    -->
                    <!--
                    <div class="callout callout-info">{$Think.lang.reg.callout}</div>
                    <div class="my-3 text-center">
                        <div class="mb-1">{$Think.lang.reg.other}</div>
                        <a href="" class="btn btn-block bg-light border-secondary"><i class=""></i>&nbsp; other</a>
                    </div>
                    -->
                </div>
            </div>
        </div>
{include file="common/foot"/}
