                <div id="copyright" class="with-intro">
                    <div class="container">
                        <!-- YOU CAN NOT MODIFIY THE COPYRIGHT TEXT W/O PERMISSION -->
                        <div id="copyright-text" class="float-right d-none d-sm-inline">
                            We use <a href="{$repo}" target="_blank">Cinnamoroll Storehouse Management Server</a>
                        </div>
                        <strong>&copy; <script>var date = new Date();document.write(date.getFullYear());</script><a href="/">{$site_name}</a></strong>&nbsp;
                        <a href="https://beian.miit.gov.cn" target="_blank" rel="noopener noreferrer">{$beian}</a>
                    </div>
                </div>
